<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cliver.CrawlerHostCleaner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="FhrDbReplicator.Properties.Settings.DestinationDbConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=&quot;d:\_d\_PROJECTS\FHR(for Andreas Chermak)\ProductOffice\ProductOffice\App_Data\ProductOffice.mdf&quot;;Integrated Security=True;MultipleActiveResultSets=True;Connect Timeout=30;Application Name=EntityFramework"
            providerName="System.Data.SqlClient" />
        <add name="Cliver.FhrDbReplicator.Properties.Settings.ProductOfficeConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;D:\_d\_PROJECTS\FHR(for Andreas Chermak)\ProductOffice\ProductOffice\App_Data\ProductOffice.mdf1&quot;;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="Cliver.FhrDbReplicator.Properties.Settings.ProductOfficeConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;D:\_d\_PROJECTS\FHR(for Andreas Chermak)\CliverHost\ProductOffice\ProductOffice\App_Data\ProductOffice.mdf&quot;;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Cliver.CrawlerHostCleaner.Properties.Settings>
            <setting name="DeleteMessagesOlderThanDays" serializeAs="String">
                <value>10</value>
            </setting>
        </Cliver.CrawlerHostCleaner.Properties.Settings>
    </userSettings>
</configuration>