<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cliver.Bot.Properties.Input" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Cliver.Bot.Properties.Log" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Cliver.Bot.Properties.General" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Cliver.Bot.Properties.Output" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Cliver.Bot.Properties.Web" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Cliver.Bot.Properties.Output.Default" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Cliver.Bot.Properties.Input.Default" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Cliver.Bot.Properties.General.Default" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Cliver.Bot.Properties.Web.Default" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Cliver.Bot.Properties.Spider.Default" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Cliver.Bot.Properties.Log.Default" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cliver.Bot.Properties.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Cliver.Bot.Properties.Output" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Cliver.Bot.Properties.Web" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Cliver.Bot.Properties.Output.Default" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Cliver.Bot.Properties.Web.Default" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Cliver.Bot.Properties.Input>
            <setting name="InputFile" serializeAs="String">
                <value>input.txt</value>
            </setting>
            <setting name="InputFieldSeparator" serializeAs="String">
                <value>,</value>
            </setting>
            <setting name="EscapedInputFieldSeparator" serializeAs="String">
                <value>','</value>
            </setting>
        </Cliver.Bot.Properties.Input>
        <Cliver.Bot.Properties.Log>
            <setting name="DeleteLogsOlderDays" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="LogDownloadedFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogPostRequestParameters" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WriteLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PreWorkDir" serializeAs="String">
                <value />
            </setting>
            <setting name="LogFileChunkSizeInBytes" serializeAs="String">
                <value>2000000</value>
            </setting>
        </Cliver.Bot.Properties.Log>
        <Cliver.Bot.Properties.General>
            <setting name="RestoreBrokenSession" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxBotThreadNumber" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RestoreErrorItemsAsNew" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RunSilently" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseFilesFromCache" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WriteSessionRestoringLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxProcessorErrorNumber" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MaxTime2WaitForSessionStopInSecs" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="InputFileViewer" serializeAs="String">
                <value>notepad.exe</value>
            </setting>
        </Cliver.Bot.Properties.General>
        <Cliver.Bot.Properties.Output>
            <setting name="OutputEmptyFieldSubstitute" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputFileChunkSizeInBytes" serializeAs="String">
                <value>2000000</value>
            </setting>
            <setting name="OutputFileName" serializeAs="String">
                <value>output.txt</value>
            </setting>
            <setting name="OutputFieldSeparatorSubstitute" serializeAs="String">
                <value />
            </setting>
            <setting name="EscapedOutputFieldSeparator" serializeAs="String">
                <value>'	'</value>
            </setting>
            <setting name="EscapedOutputEmptyFieldSubstitute" serializeAs="String">
                <value>''</value>
            </setting>
            <setting name="EscapedOutputFieldSeparatorSubstitute" serializeAs="String">
                <value>' '</value>
            </setting>
            <setting name="OutputFieldSeparator" serializeAs="String">
                <value>
                </value>
            </setting>
        </Cliver.Bot.Properties.Output>
        <Cliver.Bot.Properties.Web>
            <setting name="CrawlTimeIntervalInMss" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="HttpRequestTimeoutInSeconds" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="HttpUserAgent" serializeAs="String">
                <value>CliverBot 3.*</value>
            </setting>
            <setting name="MaxDownloadedFileLength" serializeAs="String">
                <value>1000000</value>
            </setting>
            <setting name="MaxHttpRedirectionCount" serializeAs="String">
                <value>20</value>
            </setting>
        </Cliver.Bot.Properties.Web>
        <Cliver.Bot.Properties.Output.Default>
            <setting name="OutputEmptyFieldSubstitute" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputFieldSeparator" serializeAs="String">
                <value>,</value>
            </setting>
            <setting name="OutputFileChunkSizeInBytes" serializeAs="String">
                <value>2000000</value>
            </setting>
            <setting name="OutputFileName" serializeAs="String">
                <value>output.tsv</value>
            </setting>
            <setting name="OutputFieldSeparatorSubstitute" serializeAs="String">
                <value />
            </setting>
        </Cliver.Bot.Properties.Output.Default>
        <Cliver.Bot.Properties.Input.Default>
            <setting name="InputFile" serializeAs="String">
                <value>input.txt</value>
            </setting>
            <setting name="InputFieldSeparator" serializeAs="String">
                <value>,</value>
            </setting>
        </Cliver.Bot.Properties.Input.Default>
        <Cliver.Bot.Properties.General.Default>
            <setting name="RestoreBrokenSession" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxBotThreadNumber" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RestoreErrorItemsAsNew" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RunSilently" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseFilesFromCache" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WriteSessionRestoringLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxProcessorErrorNumber" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MaxTime2WaitForSessionStopInSecs" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="InputFileViewer" serializeAs="String">
                <value>notepad.exe</value>
            </setting>
        </Cliver.Bot.Properties.General.Default>
        <Cliver.Bot.Properties.Web.Default>
            <setting name="CrawlTimeIntervalInMss" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="CloseWebBrowserDialogsAutomatically" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HttpRequestTimeoutInSeconds" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="HttpUserAgent" serializeAs="String">
                <value>CliverBot 3.*</value>
            </setting>
            <setting name="MaxDownloadedFileLength" serializeAs="String">
                <value>1000000</value>
            </setting>
            <setting name="MaxHttpRedirectionCount" serializeAs="String">
                <value>20</value>
            </setting>
        </Cliver.Bot.Properties.Web.Default>
        <Cliver.Bot.Properties.Spider.Default>
            <setting name="ComplyRobotProtocol" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxDownloadLinkDepth" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="MaxPageCountPerSite" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="UnchangableDomainPartNumber" serializeAs="String">
                <value>2</value>
            </setting>
        </Cliver.Bot.Properties.Spider.Default>
        <Cliver.Bot.Properties.Log.Default>
            <setting name="DeleteLogsOlderDays" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="LogDownloadedFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogPostRequestParameters" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WriteLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PreWorkDir" serializeAs="String">
                <value />
            </setting>
        </Cliver.Bot.Properties.Log.Default>
    </userSettings>
    <applicationSettings>
        <Cliver.Bot.Properties.App>
            <setting name="FiddlerPort" serializeAs="String">
                <value>8877</value>
            </setting>
            <setting name="MaxTime2WaitForSessionStopInSecs" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="SingleProcessOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RegistryGeneralSubkey" serializeAs="String">
                <value>SOFTWARE\CliverSoft\</value>
            </setting>
            <setting name="HelpUri" serializeAs="String">
                <value>http://cliversoft.com/articles/manual_to_cliverbot_based_applications.php</value>
            </setting>
            <setting name="RegistryHiveIsUserDependent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RegistryAppSubkeyNameRegexForBaseDirectory" serializeAs="String">
                <value>\#([^\\\/]+)(?:[\\\/]|$)</value>
            </setting>
        </Cliver.Bot.Properties.App>
        <Cliver.Bot.Properties.Output>
            <setting name="WriteOutputFile2CommonFolder" serializeAs="String">
                <value>False</value>
            </setting>
        </Cliver.Bot.Properties.Output>
        <Cliver.Bot.Properties.Web>
            <setting name="TextModeDownloadableContentTypePattern" serializeAs="String">
                <value>text</value>
            </setting>
            <setting name="TextModeHttpRequestAcceptHeader" serializeAs="String">
                <value>text/xml,text/html;q=0.9,text/plain;q=0.8</value>
            </setting>
            <setting name="MaxAttemptCount" serializeAs="String">
                <value>1</value>
            </setting>
        </Cliver.Bot.Properties.Web>
        <Cliver.Bot.Properties.Output.Default>
            <setting name="WriteOutputFile2CommonFolder" serializeAs="String">
                <value>False</value>
            </setting>
        </Cliver.Bot.Properties.Output.Default>
        <Cliver.Bot.Properties.Web.Default>
            <setting name="TextModeDownloadableContentTypePattern" serializeAs="String">
                <value>text</value>
            </setting>
            <setting name="TextModeHttpRequestAcceptHeader" serializeAs="String">
                <value>text/xml,text/html;q=0.9,text/plain;q=0.8</value>
            </setting>
            <setting name="MaxAttemptCount" serializeAs="String">
                <value>1</value>
            </setting>
        </Cliver.Bot.Properties.Web.Default>
    </applicationSettings>
</configuration>