<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cliver.Properties.Log" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Cliver.Properties.Log>
            <setting name="DeleteLogsOlderDays" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="LogDownloadedFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogPostRequestParameters" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WriteLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PreWorkDir" serializeAs="String">
                <value />
            </setting>
            <setting name="LogFileChunkSizeInBytes" serializeAs="String">
                <value>2000000</value>
            </setting>
            <setting name="PrefWorkDirName" serializeAs="String">
                <value>CliverBotSessions</value>
            </setting>
        </Cliver.Properties.Log>
    </userSettings>
</configuration>