<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CliverBotCustomization.Properties.Web" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="CliverBotCustomization.Properties.Browser" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CliverBotCustomization.Properties.Web" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <CliverBotCustomization.Properties.Web>
            <setting name="CrawlTimeIntervalInMss" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="CloseWebBrowserDialogsAutomatically" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HttpRequestTimeoutInSeconds" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="HttpUserAgent" serializeAs="String">
                <value>CliverBot</value>
            </setting>
            <setting name="MaxDownloadedFileLength" serializeAs="String">
                <value>1000000</value>
            </setting>
            <setting name="MaxHttpRedirectionCount" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WebBrowserPageCompletedTimeoutInSeconds" serializeAs="String">
                <value>60</value>
            </setting>
        </CliverBotCustomization.Properties.Web>
        <CliverBotCustomization.Properties.Browser>
            <setting name="PageCompletedTimeoutInSeconds" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="CloseWebBrowserDialogsAutomatically" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SuppressScriptErrors" serializeAs="String">
                <value>True</value>
            </setting>
        </CliverBotCustomization.Properties.Browser>
    </userSettings>
    <applicationSettings>
        <CliverBotCustomization.Properties.Web>
            <setting name="DownloadableContentTypePattern" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="HttpRequestAcceptHeader" serializeAs="String">
                <value>text/xml,text/html;q=0.9,text/plain;q=0.8</value>
            </setting>
        </CliverBotCustomization.Properties.Web>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
