<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Cliver.CrawlerHost.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Cliver.CrawlerHost.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
                                                                                                                      </configSections>
  <connectionStrings>
    <add name="Cliver.CrawlerHost.Properties.Settings.CliverCrawlerHostConnectionString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;D:\_d\_PROJECTS\FHR(for Andreas Chermak)\FhrCliverHost#development\_data\CliverCrawlerHost.mdf&quot;;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <Cliver.CrawlerHost.Properties.Settings>
      <setting name="ServiceCheckDurationInMss" serializeAs="String">
        <value>100</value>
      </setting>
    </Cliver.CrawlerHost.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <Cliver.CrawlerHost.Properties.Settings>
      <setting name="DefaultAdminEmails" serializeAs="String">
        <value>crawler_manager@cliversoft.com</value>
      </setting>
      <setting name="EmailSender" serializeAs="String">
        <value>crawler_manager@cliversoft.com</value>
      </setting>
      <setting name="SmtpHost" serializeAs="String">
        <value />
      </setting>
      <setting name="SmtpPort" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="SmtpLogin" serializeAs="String">
        <value>crawler_manager@cliversoft.com</value>
      </setting>
      <setting name="SmtpPassword" serializeAs="String">
        <value>123456</value>
      </setting>
    </Cliver.CrawlerHost.Properties.Settings>
  </userSettings>
</configuration>