<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Cliver.Properties.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Cliver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Cliver.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Cliver.Properties.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Cliver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Cliver.Properties.App>
      <setting name="FiddlerPort" serializeAs="String">
        <value>8877</value>
      </setting>
      <setting name="MaxTime2WaitForSessionStopInSecs" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="SingleProcessOnly" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CliverBotCustomizationNameSpace" serializeAs="String">
        <value />
      </setting>
      <setting name="RegistrySubkey" serializeAs="String">
        <value>@"SOFTWARE\CliverSoft\CliverBot"</value>
      </setting>
    </Cliver.Properties.App>
    <Cliver.Properties.Settings>
      <setting name="FiddlerPort" serializeAs="String">
        <value>8877</value>
      </setting>
      <setting name="MaxTime2WaitForSessionStopInSecs" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="SingleProcessOnly" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CliverBotCustomizationNameSpace" serializeAs="String">
        <value />
      </setting>
    </Cliver.Properties.Settings>
    <Cliver.App>
      <setting name="test" serializeAs="String">
        <value>1</value>
      </setting>
    </Cliver.App>
  </applicationSettings>
  <userSettings>
    <Cliver.Properties.App>
      <setting name="HelpUri" serializeAs="String">
        <value>http://cliversoft.com/articles/manual_to_cliverbot_based_applications.php</value>
      </setting>
      <setting name="InputFileViewer" serializeAs="String">
        <value>notepad.exe</value>
      </setting>
    </Cliver.Properties.App>
    <Cliver.Properties.Settings>
      <setting name="HelpUri" serializeAs="String">
        <value>http://cliversoft.com/articles/manual_to_cliverbot_based_applications.php</value>
      </setting>
    </Cliver.Properties.Settings>
  </userSettings>
</configuration>