<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Cliver.CrawlerHost.Properties.Host" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Cliver.CrawlerHost.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Cliver.Web" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Cliver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Cliver.CrawlerHost.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Cliver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Cliver.Properties.Settings.DbConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\_d\_PROJECTS\Christian\Assortmento_CrawlerHost\bin\CliverCrawlers.mdf;Integrated Security=True;MultipleActiveResultSets=True;Connect Timeout=90;Application Name=EntityFramework;User Instance=True"
      providerName="System.Data.SqlClient" />
    <add name="Cliver.CrawlerHost.Properties.Settings.DbConnectionString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;D:\_d\_PROJECTS\FHR(for Andreas Chermak)\CliverHost\CliverCrawlerHost\CliverCrawlerHost.mdf&quot;;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
    <add name="Cliver.CrawlerHost.Properties.Settings.CliverCrawlerHostConnectionString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;D:\_d\_PROJECTS\FHR(for Andreas Chermak)\CliverHost\CliverCrawlerHost\CliverCrawlerHost.mdf&quot;;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
    <add name="CliverCrawlerHostEntities" connectionString="metadata=res://*/CrawlerHost.csdl|res://*/CrawlerHost.ssdl|res://*/CrawlerHost.msl;provider=System.Data.SqlClient;provider connection string='data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=&quot;D:\_d\_PROJECTS\FHR(for Andreas Chermak)\CliverHost\CliverCrawlerHost\CliverCrawlerHost.mdf&quot;;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework'"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <Cliver.CrawlerHost.Properties.Host>
      <setting name="CrawlerHostPath" serializeAs="String">
        <value />
      </setting>
      <setting name="RegistrySubkey" serializeAs="String">
        <value>SOFTWARE\CliverSoft\CliverBot</value>
      </setting>
    </Cliver.CrawlerHost.Properties.Host>
    <Cliver.CrawlerHost.Properties.Settings>
      <setting name="CrawlersDirectory" serializeAs="String">
        <value>..\..\Crawlers</value>
      </setting>
      <setting name="CrawlerProcessMaxNumber" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="EmailSender" serializeAs="String">
        <value>crawler_manager@cliversoft.com</value>
      </setting>
      <setting name="SmtpHost" serializeAs="String">
        <value />
      </setting>
      <setting name="SmtpPort" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="SmtpLogin" serializeAs="String">
        <value>crawler_manager@cliversoft.com</value>
      </setting>
      <setting name="SmtpPassword" serializeAs="String">
        <value>123456</value>
      </setting>
      <setting name="DefaultAdminEmails" serializeAs="String">
        <value>sergey.stoyan@gmail.com</value>
      </setting>
      <setting name="NoDialogMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ServiceDirectory" serializeAs="String">
        <value>..\..\</value>
      </setting>
      <setting name="ServiceProcessMaxNumber" serializeAs="String">
        <value>2</value>
      </setting>
    </Cliver.CrawlerHost.Properties.Settings>
    <Cliver.Properties.Settings>
      <setting name="CrawlerProcessMaxNumber" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="StartManagerByDefault" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EmailSender" serializeAs="String">
        <value>test@cliversoft.com</value>
      </setting>
      <setting name="SmtpHost" serializeAs="String">
        <value>smtp.gmail.com</value>
      </setting>
      <setting name="SmtpPort" serializeAs="String">
        <value>587</value>
      </setting>
      <setting name="SmtpLogin" serializeAs="String">
        <value>assortmento@gmail.com</value>
      </setting>
      <setting name="SmtpPassword" serializeAs="String">
        <value>Crawler1012</value>
      </setting>
      <setting name="DefaultAdminEmails" serializeAs="String">
        <value>sergey.stoyan@gmail.com</value>
      </setting>
    </Cliver.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <Cliver.CrawlerHost.Properties.Settings>
      <setting name="PollIntervalInMss" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="HelpUri" serializeAs="String">
        <value>http://cliversoft.com/articles/manual_to_crawlerhost.php</value>
      </setting>
      <setting name="ServiceCheckDurationInMss" serializeAs="String">
        <value>100</value>
      </setting>
    </Cliver.CrawlerHost.Properties.Settings>
    <Cliver.Properties.Settings>
      <setting name="PollIntervalInSecs" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="CrawlersDirectory" serializeAs="String">
        <value>..\..\Crawlers</value>
      </setting>
      <setting name="HelpUri" serializeAs="String">
        <value>http://cliversoft.com/articles/manual_to_crawlerhost.php</value>
      </setting>
    </Cliver.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>