<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cliver.DataSifter.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Cliver.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CliverSoft.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cliver.DataSifter.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Cliver.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Cliver.DataSifter.Settings>
            <setting name="HighlightHtmlTags" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PrintCaptureLabels" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HtmlTagsColor" serializeAs="String">
                <value>IndianRed</value>
            </setting>
            <setting name="HtmlCommentColor" serializeAs="String">
                <value>DarkCyan</value>
            </setting>
            <setting name="SourceFormInitialDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="CaptureLabelFont" serializeAs="String">
                <value>Arial, 6.75pt, style=Bold</value>
            </setting>
            <setting name="StripParsedTextInStatusBarFromHtmlTags" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilterMarkColorsRGB" serializeAs="Xml">
                <value>
                    <ArrayOfInt xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <int>-3618561</int>
                        <int>-18751</int>
                        <int>-7278960</int>
                        <int>-23222</int>
                        <int>-1645056</int>
                        <int>-65281</int>
                        <int>-16711681</int>
                        <int>-8323328</int>
                        <int>-4144960</int>
                        <int>-8355776</int>
                        <int>-65408</int>
                        <int>-16711808</int>
                        <int>-16744193</int>
                        <int>-65281</int>
                        <int>-12550016</int>
                        <int>-1609704</int>
                        <int>-256</int>
                        <int>-8388480</int>
                        <int>-16744320</int>
                        <int>-16776961</int>
                        <int>-65536</int>
                    </ArrayOfInt>
                </value>
            </setting>
            <setting name="FilterCommentColor" serializeAs="String">
                <value>MidnightBlue</value>
            </setting>
            <setting name="FilterGroupNameColor" serializeAs="String">
                <value>192, 0, 0</value>
            </setting>
            <setting name="CopySelectionToClipboard" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OutputGroupNames" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HtmlJavascriptColor" serializeAs="String">
                <value>MidnightBlue</value>
            </setting>
            <setting name="OutputDataSeparator" serializeAs="String">
                <value>
##################################
##################################
###
###
###
##################################
##################################
</value>
            </setting>
            <setting name="LastSourceFile" serializeAs="String">
                <value />
            </setting>
            <setting name="LastFilterTreeFile" serializeAs="String">
                <value />
            </setting>
            <setting name="ApplicationVersion" serializeAs="String">
                <value />
            </setting>
        </Cliver.DataSifter.Settings>
        <Cliver.Settings>
            <setting name="HighlightHtmlTags" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableJavaScript" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PrintCaptureLabels" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HtmlTagsColor" serializeAs="String">
                <value>IndianRed</value>
            </setting>
            <setting name="HtmlCommentColor" serializeAs="String">
                <value>DarkCyan</value>
            </setting>
            <setting name="CaptureMarkColorInBrowser" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="BrowserFormInitialDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="SourceFormInitialDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="CaptureLabelFont" serializeAs="String">
                <value>Arial, 6.75pt, style=Bold</value>
            </setting>
            <setting name="NewRegexPattern" serializeAs="String">
                <value>(.*?)</value>
            </setting>
            <setting name="StripParsedTextInStatusBarFromHtmlTags" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilterMarkColorsRGB" serializeAs="Xml">
                <value>
                    <ArrayOfInt xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <int>-3618561</int>
                        <int>-18751</int>
                        <int>-7278960</int>
                        <int>-23222</int>
                        <int>-1645056</int>
                        <int>-65281</int>
                        <int>-16711681</int>
                        <int>-8323328</int>
                        <int>-4144960</int>
                        <int>-8355776</int>
                        <int>-65408</int>
                        <int>-16711808</int>
                        <int>-16744193</int>
                        <int>-65281</int>
                        <int>-12550016</int>
                        <int>-1609704</int>
                        <int>-256</int>
                        <int>-8388480</int>
                        <int>-16744320</int>
                        <int>-16776961</int>
                        <int>-65536</int>
                    </ArrayOfInt>
                </value>
            </setting>
            <setting name="FilterCommentColor" serializeAs="String">
                <value>MidnightBlue</value>
            </setting>
            <setting name="FilterGroupNameColor" serializeAs="String">
                <value>192, 0, 0</value>
            </setting>
            <setting name="DisableBrowserWindow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CopySelectionToClipboard" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OutputGroupNames" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HtmlJavascriptColor" serializeAs="String">
                <value>MidnightBlue</value>
            </setting>
            <setting name="NewRegexOptions" serializeAs="String">
                <value>IgnoreCase, Singleline, Compiled, IgnorePatternWhitespace</value>
            </setting>
            <setting name="OutputDataSeparator" serializeAs="String">
                <value>
##################################
##################################
###
###
###
##################################
##################################
</value>
            </setting>
            <setting name="StartWithBrowserWindow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ApplicationVersion" serializeAs="String">
                <value />
            </setting>
        </Cliver.Settings>
    </userSettings>
    <applicationSettings>
        <Cliver.DataSifter.Settings>
            <setting name="HelpFile" serializeAs="String">
                <value>DataSifter.chm</value>
            </setting>
            <setting name="HelpFileUri" serializeAs="String">
                <value>http://www.cliversoft.com/products/regextreeer/2.5/help/index.htm</value>
            </setting>
        </Cliver.DataSifter.Settings>
        <Cliver.Settings>
            <setting name="HelpFile" serializeAs="String">
                <value>DataSifter.chm</value>
            </setting>
            <setting name="HelpFileUri" serializeAs="String">
                <value>http://www.cliversoft.com/products/filtertreeer/2.5/help/index.htm</value>
            </setting>
        </Cliver.Settings>
    </applicationSettings>
</configuration>