<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cliver.Web" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Cliver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cliver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Cliver.Properties.Settings.DbConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\_d\_PROJECTS\Christian\Assortmento_CrawlerHost\bin\CliverCrawlers.mdf;Integrated Security=True;MultipleActiveResultSets=True;Connect Timeout=90;Application Name=EntityFramework;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <Cliver.Properties.Settings>
            <setting name="CrawlerProcessMaxNumber" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="StartManagerByDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EmailSender" serializeAs="String">
                <value>test@cliversoft.com</value>
            </setting>
            <setting name="SmtpHost" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="SmtpPort" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="SmtpLogin" serializeAs="String">
                <value>assortmento@gmail.com</value>
            </setting>
            <setting name="SmtpPassword" serializeAs="String">
                <value>Crawler1012</value>
            </setting>
            <setting name="DefaultAdminEmails" serializeAs="String">
                <value>sergey.stoyan@gmail.com</value>
            </setting>
        </Cliver.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Cliver.Properties.Settings>
            <setting name="PollIntervalInSecs" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="CrawlersDirectory" serializeAs="String">
                <value>..\..\crawlers</value>
            </setting>
            <setting name="HelpUri" serializeAs="String">
                <value>http://cliversoft.com/articles/manual_to_crawlerhost.php</value>
            </setting>
            <setting name="DbConnectionString_" serializeAs="String">
                <value>Data Source=.\SQLEXPRESS;AttachDbFilename=|DbPath|;Integrated Security=True;Connect Timeout=90;User Instance=True;multipleactiveresultsets=True;App=EntityFramework</value>
            </setting>
            <setting name="DbRelativePath_" serializeAs="String">
                <value>..\..\CliverCrawlers.mdf</value>
            </setting>
        </Cliver.Properties.Settings>
    </applicationSettings>
</configuration>